<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security pre-post-annotations="enabled" />

		<http entry-point-ref="restAuthenticationEntryPoint"
			create-session="stateless">
			<csrf disabled="true" />
			<custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter" />
		</http>
		<beans:bean id="jwtAuthenticationFilter"
			class="br.com.sasoriengine.controlegarrafao.security.JwtAuthenticationFilter">
		</beans:bean>
		<authentication-manager alias="authenticationManager">
			<authentication-provider user-service-ref="segurancaService">
				<password-encoder hash="plaintext"></password-encoder>
			</authentication-provider>
		</authentication-manager>

</beans:beans>
 